.todo {
  margin-top: 4rem;
  width: 100%;
  height: 100vh;
}

textarea {
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 300px; /* Reduced width */
  max-width: 100%;
  box-sizing: border-box;
}

textarea:focus {
  border-color: #7fc6a4;
  box-shadow: 0 0 5px rgba(127, 198, 164, 0.5);
}

textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

input[type="text"] {
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 300px; /* Reduced width */
  max-width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

input[type="text"]:focus {
  border-color: #7fc6a4;
  box-shadow: 0 0 5px rgba(127, 198, 164, 0.5);
}

.todo-inputs {
  background-color: rgba(151, 233, 206, 0.078);
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  max-width: 24rem; /* Adjust container size */
  margin: 0 auto;
}

.todo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
