.btn-update , .btn-save{
    background-color:rgb(0, 136, 255);
    border-radius: 20px; 
    color: white;  
    padding: 10px 20px; 
    font-size: 1.1rem; 
    cursor: pointer;  
    border: none;  
    transition: all 0.3s ease; 
   text-decoration: none;;
    max-width: fit-content;  
    margin: 0 auto;  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.182);
  }
  
  .btn-update:hover,.btn-save:hover{
    background-color:rgb(30, 97, 241);
    color: white;  
    
  }
  .btn-cls:hover{
    background-color:grey;
    color: white;
  }